$offwhite: #8A9198 !default;
$white: #fff !default;
$border-color: #CDD4DB !default;

nz-table {
  width: 100%;
  border-radius: 2px red;
}

.text-offwhite {
  color: $offwhite;
}

.m-t-20 {
  margin-top: 20px !important;
}

.text-center {
  text-align: center !important;
}

.p-l-80 {
  padding-left: 80px !important;
}


.slider-container {
  width: 800px;
}

::ng-deep .cdk-drag-preview {
  display: table;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
  padding: 16px;
  background-color: $white;
}

::ng-deep .cdk-drag-placeholder {
  opacity: 0;
}

nz-table {
  border-top: 1px solid $border-color !important;
}
