<div class="main">
  <form [formGroup]="formInforStudent" (ngSubmit)="edit()">
    <div class="student-name">
      <h3>Full Name</h3>
      <input type="text" formControlName="fullName" readonly>
    </div>
    <div class="year-student">
      <h3>Year</h3>
      <input type="text" formControlName="year" readonly>
    </div>
    <div class="total-student">
      <h3>Total</h3>
      <input type="text" formControlName="total" readonly>
    </div>
    <div class="status-student">
      <h3>Status</h3>
      <input type="text" formControlName="status" placeholder="Status">
    </div>
    <div class="submit">
      <button [disabled]="!formInforStudent.valid" nz-button class="button" type="submit">Edit</button>
    </div>
  </form>
</div>
